.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

:global(#home) {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

:global(#home) h1 {
  font-size: var(--font-3x);
  margin: var(--spacing) 0;
}

:global(#home) p {
  font-size: var(--font-2m);
  color: var(--light-grey);
}

.imageContainer img {
  width: 400px;
  border-radius: var(--radius);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
